[submodule "wp-stage-switcher"]
	path = wp-stage-switcher
	url = https://github.com/roots/wp-stage-switcher.git
[submodule "Force-Strong-Passwords"]
	path = Force-Strong-Passwords
	url = https://github.com/boogah/Force-Strong-Passwords.git
[submodule "disable-wordpress-core-update"]
	path = disable-wordpress-core-update
	url = https://github.com/johnbillion/disable-wordpress-core-update.git
[submodule "disable-emojis"]
	path = disable-emojis
	url = https://github.com/wp-plugins/disable-emojis.git
[submodule "enable-media-replace"]
	path = enable-media-replace
	url = https://github.com/mansj/enable-media-replace.git
[submodule "WP-Admin-Command-Palette"]
	path = WP-Admin-Command-Palette
	url = https://github.com/Clark-Nikdel-Powell/WP-Admin-Command-Palette.git
